[submodule "nanopb/nanopb"]
	path = components/nanopb/nanopb
	url = https://github.com/nanopb/nanopb.git
[submodule "external/--init"]
	path = external/jsmnit
	url = https://github.com/zwiebert/jsmnit.git
[submodule "external/host-test-idf"]
	path = external/host-test-idf
	url = https://github.com/zwiebert/host-test-idf.git
[submodule "external/util-components"]
	path = external/util-components
	url = https://github.com/zwiebert/util-components.git
