[submodule "components/storage/spiffs"]
	path = components/storage/esp8266/spiffs
	url = https://github.com/pellepl/spiffs.git
[submodule "components/net_mqtt/esp8266/esp_mqtt"]
	path = components/net_mqtt/esp8266/esp_mqtt
	url = https://github.com/tuanpmt/esp_mqtt.git
[submodule "nanopb/nanopb"]
	path = components/nanopb/nanopb
	url = https://github.com/nanopb/nanopb.git
[submodule "external/--init"]
	path = external/jsmnit
	url = https://github.com/zwiebert/jsmnit.git
[submodule "external/host-test-idf"]
	path = external/host-test-idf
	url = https://github.com/zwiebert/host-test-idf.git
