rsource "components/cli/Kconfig"
rsource "components/config_kvs/Kconfig"
rsource "components/firmware_update/Kconfig"
rsource "components/stm32/Kconfig"
rsource "components/txtio/Kconfig"
rsource "external/util-components/Kconfig"
rsource "components/weather/Kconfig"
